kind: Secret
apiVersion: v1
metadata:
  name: firefox-sync-secret
data:
  # Need to be base64 encoded when specifying here
  # cat /dev/urandom | base32 | head -c64 | base64 -w 0
  MYSQL_ROOT_PASSWORD: REPLACE_ME
  MYSQL_PASSWORD: REPLACE_ME
  
  # Master sync key (must be 64 characters long)
  SYNC_MASTER_SECRET: REPLACE_ME
  
  # Hashing secret (must be 64 characters long)
  METRICS_HASH_SECRET: REPLACE_ME